<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Terminal</title>

    <link href="crypto.css" type="text/css" rel="stylesheet">
</head>

<body id="crypto">

    <header class="main-header">
        <nav class="nav main-nav">
            <ul>
                <li> <a href="index.html">HOME </a></li>
                <li> <a href="crypto.html">CRYPTO </a></li>
            </ul>
        </nav>
    </header>

    <section id="display">

        <h2 class="become-a-better-trader">Become a better trader</h2>

        <img class="images" src="templates/images/BTCUSD-XAUSTION2.png">
        <h3 class="description">
            Spot levels like a pro and follow trends until they break
        </h3>
        <p class="description">
            The signals are produced by an over-extended trend or "leg-up" where there aren't enough buyers or sellers to keep <br> the price going in the same direction. This will create a resistance level at the high of this candle. Once a signal <br>            is produced the trader will determine to exit or enter based on their opinion. If price does the opposite of the signal <br> the support or resistance level can be used as an exit next time price gets there.
        </p>

        <h2 class="become-a-better-trader"> Bottoms and Take Profits Alerted to your Phone or Email</h2>

        <img class="images" src="templates/images/ALERT-XAUSTION.png">
        <h3 class="description">
            Don't Stare at Charts
        </h3>
        <p class="description">
            Since the script is written in pine script, the website Tradingview allows users to create automatic alerts that respond <br> to custom signals.
        </p>

        <h2 class="become-a-better-trader"> Stop FOMO</h2>

        <img class="images" src="templates/images/LINKUSD-XAUSTION.png">
        <h3 class="description">
            Be Out of a Position Before the Dump
        </h3>
        <p class="description">
            There's no reason to trade all the time. When you use the Exhaustion Suite to trade, higher time frames work best. Signals are <br> not quick and shouldn't be, but can be. Price often returns to a level close to VWAP, so if the trend is green
            (enable bar colors) <br> and price is near VWAP or your favorite EMA consider entering a position!
        </p>

        <h2 class="become-a-better-trader"> Multiple Bottom and Top Signals</h2>

        <img class="images" src="templates/images/BTCUSD-XAUSTION.png">

        <h2 class="become-a-better-trader"> Customizable Settings for Any Trading Asset</h2>

        <img class="images" src="templates/images/SETTINGS-XAUSTION.png">

        <script src="crypto.js"></script>
    </section>


</body>

</html>