body {
    background-color: black;
    color: white;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    height: 200px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    transition: all 1s ease;
}

#main:hover {
    height: 500px;
    width: 500px;
}