body {
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.row {
    display: flex;
    justify-content: center;
}

.card {
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: #10c469;
}

.text-white {
    color: white;
}

.container {
    display: flex;
}